################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FlyInn/FlyInn.Checkout/Client/bin/Debug/net5.0/wwwroot/_framework
